{% extends "_base.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block head_title %}
{% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
<h1>
  {% trans "Change Password" %}
</h1>

{% url 'account_change_password' as action_url %}

<form action="{% url 'account_change_password' %}" method="POST">
  {% csrf_token %}
  {{ redirect_field }}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit">Change Password</button>
  <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>

{% endblock content %}